@font-face {
  font-family: 'Value';
  font-weight: bold;
  font-style: normal;
  src: url('/fonts/value-bold.woff2') format('woff2'),
    url('/fonts/value-bold.woff') format('woff');
}

:root {
  --font-headings: Value, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  --font-body: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding-bottom: 50px;
  line-height: 1.6;
}

body,
input,
button {
  font-family: var(--font-body);
  font-size: 15px;
}

input {
  font-size: 16px;
}

figure {
  margin: 0;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

h1,
h2,
h3 {
  margin-top: 0;
  font-weight: bold;
  font-family: var(--font-headings);
}

p {
  margin-top: 0;
  margin-bottom: 1.5em;
}

a {
  color: inherit;
  text-decoration: none;
}

a:focus {
  outline: none;
}

dd {
  margin: 0;
}
