.wrapper {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 30px;
}

@media (min-width: 700px) {
  .wrapper {
    padding: 0 60px;
  }
}

@media (min-width: 960px) {
  .wrapper {
    padding: 0 120px;
  }
}
