.header {
  margin-bottom: 50px;
  padding: 15px 0;
  background: #f2f4f6;
  text-align: center;
}

.header > * {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  padding-top: 0;

  @media (max-width: 499px) {
    margin-left: -15px;
    margin-right: -15px;
  }
}

.header img {
  width: 120px;

  @media (min-width: 500px) {
    width: 140px;
  }
}

.nav {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: end;
  grid-gap: 20px;
  font-family: var(--font-headings);

  @media (min-width: 500px) {
    grid-gap: 30px;
  }
}

.nav a {
  font-weight: bold;
}

.nav a:hover,
.nav a:focus {
  color: #444;
}
