.header {
  margin-bottom: 50px;
  padding: 15px 0;
  background: #f2f4f6;
  text-align: center;
}

.header > * {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  padding-top: 0;
}

.header img {
  width: 140px;
}

.nav {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: end;
  grid-gap: 30px;
  font-family: var(--font-headings);
}

.nav a {
  font-weight: bold;
}

.nav a:hover,
.nav a:focus {
  color: #444;
}
