.controls {
  display: flex;
  list-style: none;
  padding: 0;
}

.controls > li {
  flex: 1;
  margin-right: 3px;
}

.controls > li:last-child {
  margin-right: 0;
}

.controls button {
  position: relative;
  appearance: none;
  padding: 0;
  border: 0;
}

.controls button:focus {
  outline: 0;
}

.is-active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom: 2px solid #000;
}
